#
#   SERVER, LOGS
#
port=3000
logsTimezone="Europe/Moscow"
oldVideoRemoverInterval=3000
puppeteerBrowserHeadless=true # если выключить, вы будете видеть экземпляр браузера, в котором сервер читает чат
#
#   GATE OPTIONS
#
channelID=23 # ид стримера (нужен, если опция ниже выключена)
readGlobalChat=false # если включено, сервер будет искать команды в общем чате
readChatInterval=1000 # частота проверки последнего сообщения в чате, в миллисекундах
#
#   SOURCES, SPECIALS
#
sourceAllowMemealerts=true # можно включить/выключить
sourceAllowYoutubeVideos=true
sourceAllowYoutubeShorts=true
sourceAllowTiktok=true
#
allowUnknownSourceVideos=false # разрешает отправлять любые прямые ссылки на видео командой "!ma "
tiktokDenyAdVideos=true # запрещает отображения рекламных тиктоков
#
# SCREEN, VIDEO, RANDOM
#
screenWidth=1920 # 1920на1080, по умолчанию
screenHeight=1080
videoMaxSize=400
videoMaxDuration=20000 # в миллисекундах
videoApplyRotation=true # применять рандом наклон для алертов
videoRotationDiap=60 # 60 будет значит наклон в диапазоне от -30 до 30 градусов
randomVideoMaxSize=true # итоговый размер алерта будет рандомным в диапазоне [80%; 100%] от `videoMaxSize`
randomVideoMaxDuration=false # итоговая длительность алерта будет рандомной в диапазоне [50%; 100%] от `videoMaxDuration`
# 
# MODIFIERS
#
allowModifiers=true # модификаторы для видеоалертов
# тут можно вкл/выкл отдельные моды
modifCustomSpeed=true # изменяет скорость алерта, диапазон [0.25; 3]
modifEasySpeed=true # разрешает использование `slower`, `faster` модов
modifAutoRotate=true
modifPosition=true # устанавливает позицию в пикселях
modifHueRotate=true
modifGrayscale=true
modifInvertColors=true
modifStretchWide=true
modifStretchTall=true
#
#   VIDEOALERT SPAMMING GOAL
#
vasgEnabled=true # включает спам пушку, когда пользователи отправят `vasgTotalCount` алертов, будут спамиться рандомные алерты из 25ти последних на протяжении `vasgSpammingTime`
vasgLabelText="СпамПушка" # текст над прогресс баром
vasgTotalCount=50 # эта переменная выставляется заново при каждом запуске сервера
vasgEnableSaves=true # включает сохранение прогресса наполнения спам пушки
vasgSpammingTime=60 # в секундах