#
#   SERVER, LOGS
#
port=3000
logsTimezone="Europe/Moscow"
twitchIRCreconnectInterval=5000
twitchIRCpingInterval=false # try enable this, if you have disconnects from your twitch chat
oldVideoRemoverInterval=3000
#
#   TWITCH, USERS
# @rel
channel="potapello" # streamer username, also a moderator
# "moderators", "banlist" options can have multiple usernames, write usernames without spaces and separated by commas, DONT write comma in start/end of the string
moderators="moderator1,moderator2" # moderators/streamer can use special commands
banlist="forsen,xqc" # banned users cannot use any commands
#
requestVideoTimeoutUse=false # enable it so that users cannot order more often than the specified `requestVideoTimeout` time
requestVideoTimeoutModeratorsIgnore=true # if `requestVideoTimeoutUse` enabled, allows moderators to ignore timeout and spam videoalerts
requestVideoTimeout=60000 # in ms
#
#   SCREEN, VIDEO, AUDIO
#
sourceAllowMemealerts=true
sourceAllowYoutubeVideos=true
sourceAllowYoutubeShorts=true
sourceAllowTiktok=true
#
screenWidth=1920 # 1080p by default, pixels
screenHeight=1080
videoMaxSize=400 # max width\height for videoalerts, pixels
videoMaxDuration=20000 # max videoalerts duration, in ms
videoApplyRotation=true # apply rotation to videoalerts, 60 is from -30 to 30, in degrees
videoRotationDiap=60
randomVideoMaxSize=true # summary size will be random in the range [80%; 100%] of the specified `videoMaxSize`
randomVideoMaxDuration=false # summary duration will be random in the range [50%; 100%] of the specified `videoMaxDuration`
# 
# EFFECTS & MODIFIERS
#
allowModifiers=true # modifiers by users & random effects (for videoalerts)
allowRandomEffects=true
randomEffectChance=25 # chance of random effect, 0%-100%
# MODIFIERS
modifCustomSpeed=true # allow `speed X (0.25 - 3)` modifier
modifEasySpeed=true # allow `slower`, `faster` modifiers
modifAutoRotate=true
modifPosition=true # allow `pos X Y` modifier
modifHueRotate=true
modifGrayscale=true
modifInvertColors=true
modifStretchWide=true
modifStretchTall=true
# EFFECTS
efctFullscreen=true
efctSpamming=true
efctLongLife=true
efctChangeSpeed=true # allow `slower`, `faster` effects
efctAutoRotate=true
efctHueRotate=true
efctGrayscale=true
#
#   VIDEOALERT SPAMMING GOAL
#
vasgEnabled=true # as soon as users send vasgTotalCount videos, there will be spam from random recent videos throughout the vasgSpammingTime
vasgLabelText="СпамПушка" # "spam cannon", progress bar with label will show if count updates
vasgTotalCount=50 # sets in clients at each connection, after can be changed via TESTER or mod command
vasgEnableSaves=true # autosaves for progress bar `count`
vasgSpammingTime=60 # effect duration, in seconds
#
#   OTHER
#
allowUnknownSourceVideos=false # allows request any videos by direct url to the videofile via "!ma "
tiktokDenyAdVideos=true # prohibits the display of advertising tiktok's