#
#   SERVER, LOGS
#
port=3000
logsTimezone="Europe/Moscow"
twitchIRCreconnectInterval=5000
twitchIRCreconnectMax=5 # maximum number of reconnection attempts in a row
twitchIRCpingInterval=false # try enable this, if you have disconnects from your twitch chat
oldVideoRemoverInterval=3000
localNetworkAddress=false # you can connect to the server from any device on your local network
#
#   TWITCH, USERS
#
# write all usernames in lowercase! (@rel)
channel="potapello" # streamer username, also a moderator
# "moderators", "banlist" options can have multiple usernames, write usernames separated by commas and without spaces, DONT write comma in start/end of the string
moderators="moderator1,moderator2" # moderators/streamer can use special commands
banlist="forsen,xqc" # banned users cannot use any commands
#
requestVideoTimeoutUse=false # enable it so that users cannot order more often than the specified `requestVideoTimeout` time
requestVideoTimeoutModeratorsIgnore=true # if `requestVideoTimeoutUse` enabled, allows moderators to ignore timeout and spam videoalerts
requestVideoTimeout=60000 # in ms
#
#   SCREEN, VIDEO, AUDIO
#
sourceAllowMemealerts=true
sourceAllowYoutubeVideos=true
sourceAllowYoutubeShorts=true
sourceAllowTiktok=true
#
screenWidth=1920 # 1080p by default, pixels
screenHeight=1080
videoMaxSize=400 # max width\height for videoalerts, pixels
videoMaxDuration=20000 # max videoalerts duration, in ms
videoApplyRotation=true # apply rotation to videoalerts, 60 is from -30 to 30, in degrees
videoRotationDiap=60
randomVideoMaxSize=true # summary size will be random in the range [80%; 100%] of the specified `videoMaxSize`
randomVideoMaxDuration=false # summary duration will be random in the range [50%; 100%] of the specified `videoMaxDuration`
# 
# EFFECTS
#
allowRandomEffects=true
randomEffectWait=30 # if X minutes users are inactive, a notification will appear about the effect that will be applied to the next videoalert (this should bait users)
# EFFECTS
efctFullscreen=true
efctSpamming=true
efctLongLife=true
# EFFECTS CONFIG
efctFullscreenDuration=50 # in seconds, in range [10;120]
efctSpammingCount=8 # int count, range [3;16]
efctLongLifeRange=[120,180] # min & max duration of effect, in seconds, in range [30;300]
#
# MODIFIERS
#
allowModifiers=true # modifiers for videoalerts
randomModifierChance=15 # chance of the server to apply a random modifier to the video if the user has not do it (set to "0" to disable), range [0%; 100%]
#
modifCustomSpeed=true # allow `speed X (0.25 - 3)` modifier
modifEasySpeed=true # allow `slower`, `faster` modifiers
modifAutoRotate=true
modifPosition=true # allow `pos X Y` modifier
modifHueRotate=true
modifGrayscale=true
modifInvertColors=true
modifStretchWide=true
modifStretchTall=true
#
#   VIDEOALERT SPAMMING GOAL
#
vasgEnabled=true # as soon as users send vasgTotalCount videos, there will be spam from random recent videos throughout the vasgSpammingTime
vasgLabelText="СпамПушка" # "spam cannon", progress bar with label will show if count updates
vasgTotalCount=50 # sets in clients at first connection OR if data in client has been cleared
vasgEnableSaves=true # autosaves for progress bar `count`
vasgSpammingTime=60 # effect duration, in seconds
vasgSpammingIntensivity=1 # 0 = low (~0.8/s), 1 = normal (~1.5/s), 2 = high (~2.2/s), 3 = extreme (~3.6/s) (extreme can "eat" up to 1Gb of RAM!)
#
#   OVERLAY MARKUP
#
# anchors: TL, TR, BL, BR (L - left, R - right, T - top, B - bottom)
markMessageBoxAnchor="TL"
markMessageBoxOffset=[20,20]
markSpamGoalAnchor="TR"
markSpamGoalOffset=[20,20]
markNotificationsAnchor="BR"
markNotificationsOffset=[20,20]
markRandomEffectAnchor="BR"
markRandomEffectOffset=[20, 130]
#
#   OTHER
#
allowUnknownSourceVideos=false # allows request any videos by direct url to the videofile via "!ma "
tiktokDenyAdVideos=true # prohibits the display of advertising tiktok's
disableSystemNotifications=false # connections, api, twitch irc
disableEventNotifications=false # random effects, moderator actions
messageBoxEnabled=true # enables message box (top left corner by default), moderators can show/hide and specify text
# TTS
apiTTSkey="" # IMPORTANT: do not open this file on the stream if you entered "apiTTSkey" here so as not to reveal it
apiTTSvoice="ru-RU-SvetlanaNeural" # all available voices are here "https://rapidapi.com/brucewwx/api/streamlined-edge-tts", scroll down